/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("../src/assets/img/dark-hexagonal-background-with-gradient-color_79603-1410.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}